*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body{
    height: 100%;
    width: 100%;


}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

#card{
    height: 400px;
    width: 300px;
    border-radius: 10px;
    background-color: white;
    padding: 30px;
    text-align: center;
    
}

#card h1{
    font-size: 30px;
    margin: 10px 0 ;
    font-weight: 700;
}

#card h5{
    font-size: 25px;
    color: red;
    margin-bottom: 15px;
}

#card img{
    height: 55%;
    width: 100%;
    border-radius: 10px;
    object-position: center;
    
    
}

#card button{
    font-weight: 700;
    color: white;
    background-color: cadetblue;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    cursor: pointer;
}

#card button:hover{
    background-color: rgb(13, 44, 45); 
}



